//
// component theme variables
//

@import "px-colors-design/_settings.colors-dark.scss";

:root{

  // Defaults
  --px-base-text-color: $d-gray4;
  --px-base-background-color: $d-gray17;

  // Demo Pages styles
  --px-demo-base-background-color : $d-gray17;
  --px-demo-interactive-background-color : $d-gray18;
  --px-demo-properties-background-color : $d-gray17;
  --px-demo-containers-border-color : $d-black;
  --px-demo-component-background-color : $d-gray17;

  //api
  --px-demo-api-background-color : $d-gray17;
  --iron-doc-viewer-markdown-background : $d-gray18;   
  --iron-doc-viewer-text-color : $d-gray6;
  --iron-doc-viewer-title-link : $d-gray6;
  --iron-doc-viewer-title-link-hover : $d-select-blue-hover;
  --iron-doc-viewer-api-link-color : $d-primary-blue;
  --iron-doc-viewer-code-color : $d-gray6;
  --iron-doc-viewer-summary-link-color : $d-primary-blue;
  --iron-doc-viewer-nav-border : $d-gray18;
  --iron-doc-viewer-property-background : $d-gray18;
  --iron-doc-viewer-private-property-background : $d-gray19;
  --iron-doc-viewer-button-hover : $d-select-blue-hover;
  --iron-doc-viewer-property-deeplink-color: $d-gray6;
  --iron-doc-viewer-property-deeplink-color-hover: $d-select-blue-hover;
  --iron-doc-viewer-property-signature-color: $d-gray6;
  --iron-doc-viewer-property-annotation-color: $d-gray11;
  --iron-doc-viewer-property-default-value-color: $d-gray11;
  --iron-doc-viewer-property-markdown-link-color: $d-primary-blue;
  --iron-doc-viewer-property-meta-color: $d-primary-blue;

  //Footer styles
  --px-footer-background-color : $d-gray18; 
  --px-footer-text-color : $d-gray11;
  --px-footer-text-color--hover : $d-gray13;
  --px-footer-text-color--pressed : $d-gray15;

}
